.main-header {

    height: 60px;
    // background-color: transparent;
    background-color: white;
    padding: 16px;
    margin-bottom: 60px;

    .logo {
        font-family: Charlie-text-bold;
        font-size: 40px;
        font-weight: bold;
        color: $clr1;
        @include flex-center; 
        text-decoration: none;
        gap:10px;

        .fa-logo-container{
            color:$clr2;

        }

     
    }

    .nav-header {
        gap:5px;
        &>* {
            @include flex-center;

            padding-bottom: 4px;
            padding-left: 8px;
            padding-right: 8px;
            padding-top: 4px;
            border-radius: 3.2px;
            font-size: 1.09rem;
            height: 100%;
            width:80px;
            line-height: rem(25px);
        }

        .login {
            color: $clr2;
            background-color: transparent;
            font-family:charlie-text-reg ;
            width:67px;
            text-decoration: none;
            padding-top: 1px;
        }
        
        .signup {
            color: white;
            background-color: $clr2;
            font-family:charlie-text-semi-bold ;
            text-decoration: none;
            padding-top: 1px;
        }

    }
}