.main-header {
 
    height: 68px;
    // background-color: white;
    background-color: transparent;
    padding:16px ;
    // box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    .logo{
        font-family: Charlie-text-bold;
        font-size: 40px;
        font-weight: bold;
        color: $clr1;
        @include flex-center;     //?????????????????????????????????????????????????
    }

    .nav-header{
        &>*{
            @include flex-center;
            font-family: charlie-text-reg;
            line-height: rem(26.25px);
            font-size: rem(16px);
        }
        .login{
            color: $clr2;
            background-color: transparent;
        }
        
        .signup{
            color: white;
            background-color: $clr2;
        }
    }


}

