.board-list {
    padding: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: fit-content;
    gap: 16px;
	background-color: transparent;

	
}

.workspace-board-list{
	margin:55px 70px;
	display: flex;
	flex-direction: column;
	h1{
		margin-bottom: 8px;
	}
}
