.board-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, 190px);
	width: 100%;
	gap: 14px;
	background-color: transparent;
	margin-block-end: 20px
}

.workspace-board-list {
	height: 100%;
	width: 80%;
	margin-top: 30px;
	margin-inline-start: 100px;
	display: flex;
	text-align: left;
	flex-direction: column;

	.fa-star {
		margin-inline-end: 5px;
	}

	h2 {
		margin-bottom: 8px;
		color: rgb(23, 43, 77);
		font-size: 20px;
		font-weight: 600;
		margin-block-end: 20px;
	}
}