.board-preview {
	height: 96px;
	width: 194px;
	border-radius: 3px;
	background-repeat: no-repeat;
	background-size: 100%;
	cursor: pointer;

	.link {
		text-shadow: 0px 1px 2px rgb(42 41 41);
		text-decoration: none;
		color: white;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 10px;
		height: 100%;
		width: 100%;
		object-fit: cover;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.star {
		background: transparent;
		height: fit-content;
		align-self: flex-end;
		cursor: pointer;
		opacity: 0;
		transition: 0.3s;

		.starred {
			color: rgba(252, 238, 32, 0.701);
			opacity: 1;
		}
	}

	&:hover .star {
		opacity: 1;
	}

	h1 {
		align-self: flex-start;
		padding-left: 1rem;
	}
}
