.create-preview {
	// display: grid;
	// grid-template-columns: 1fr 1fr;
	// grid-template-rows: 1fr 1fr;
	display: flex;
	align-items: center;
	justify-content: center;
	// background-color: gray;
	border: 1px solid rgba(147, 147, 147, 0.313);
	position: relative;

	// // background-color: green;
	height: 96px;
	width: 190px;
	border-radius: 3px;
	cursor: pointer;
	h1 {
		text-shadow: 0px 1px 5px rgb(42 41 41);
		color: white;
	}
}
