.groups-container {
    .dnd-board-main {

        width: 100%;
        height: fit-content;
        display: grid;
        gap: 8px;
        grid-template-columns: repeat(auto-fill, 270px);
        // display: flex;
        // flex-wrap: wrap;
        padding-inline-start: 16px;

        >* {
            // width:270px
        }

        .add-list-btn {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-top: 6px;
            padding-bottom: 10px;
            padding-left: 8px;

            button {
                color: $clr-text-add-card;
                font-size: 14px;
                font-family: 'Segoe UI';
            }

            &.close {
                display: none;
            }

            .plus {
                color: $clr-text-add-card;
                font-size: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .add-list-form {
            &.close {
                display: none;
            }

        }
    }
}