.teaser {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .content {
        flex: 1;
        padding: 16px;
        text-align: start;
        .mini-title {
            font-size: 1rem;
            line-height: 1.25;
            text-transform: uppercase;
            font-family: "Charlie-display-semi-bold";
            margin-bottom: 8px;
        }

        .title {
            font-size: 2.25rem;
            line-height: 1.33;
            font-family: "Charlie-display-semi-bold";
            font-weight: 500;
            margin-bottom: 24px;
        }

        .text {
            font-size: rem(20px);
            font-family: "Charlie-text-semi-bold";
            margin-bottom: 24px;
            color: $clr4;
            text-align: start;
        }
        .learn-more {
            font-family: "Charlie-display-semi-bold";
            font-size: rem(24px);
            color: $clr1;
            background-color: transparent;
        }
    }

    .img {
        object-fit: cover;
        padding: 16px;
        box-sizing: content-box;
        &.boardTeaser {
            width: 415px;
            aspect-ratio: 415 / 312;
        }

        &.cardTeaser {
            width: 339px;
            aspect-ratio: 339 / 275;
        }

        &.autoTeaser {
            width: 443px;
            aspect-ratio: 443 / 335;
        }

        &.powerUpsTeaser {
            width: 376.5px;
            aspect-ratio: 376.5 / 339;
        }
    }
}

@include for-laptop-layout {
    .home .main-container .teasers-container {
        .teaser {
            align-items: flex-start;
            .img {
                width: 300px;
            }
        }
    }
}

@include for-tablet-layout {
    .home .main-container .teasers-container {
        .teaser {
            flex-direction: column-reverse;
            align-items: center;
            .content {
                width: 100%;
                .title {
                    font-size: 1.5rem;
                    margin-bottom: 8px;
                }
            }

            .img {
                padding: 0 0 16px 0;
                width: 50%;
            }
        }

        &:not(:first-child) .content {
        }
    }
}

@include for-mobile-layout {
    .home .main-container {
        width: calc(100vw - 32px);

        .teasers-container {
            .img {
                width: 70%;
            }
        }
    }
}
