.sign-up {
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 350px;
	padding: 15px 40px;
	margin-top: 90px;
	position: relative;
	border-radius: 3px;
	box-shadow: 0 0 10px rgb(0 0 0 / 10%);
	.sign-up-title {
		color: $clr4;
		font-size: 17px;
		font-weight: 700;
		letter-spacing: -0.01em;
		line-height: 28px;
		margin-bottom: 15px;
		margin-top: 5px;
		text-align: center;
	}

	input {
		font-size: 14px;
		background-color: #fafbfc;
		border: 2px solid #dfe1e6;
		outline: none;
		padding: 0.5em;
		height: 44px;
		width: 270px;
		border-radius: 3px;
		font-size: 14px;
		height: 44px;
		margin-bottom: 15px;
		max-width: 400px;
	}

	.file-label {

		display: flex;
		flex-direction: column;
		align-items: center;
		.file-label-txt {
			padding-inline-start: 3px;
			font-size: rem(12px);
			color: $clr4;
			font-weight: 700;
		}

		.upload-img {
			width: 80px;
		}

		.file-input{
			height: 0;
			margin: 0;
		}
	}

	.sign-up-btn {
		color: #fff;
		background-color: #0065ff;
		height: 44px;
		padding: 0.6em 1.3em;
		border-radius: 3px;
		margin-bottom: 17px;

		&:hover {
			background-color: #3284ff;
		}
	}

	a {
		color: #5e98ba;
		font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Fira Sans, Droid Sans,
			Helvetica Neue, sans-serif;
		font-size: 14px;
		text-align: center;
		text-decoration: none;

		&:hover {
			color: #8cc8eb;
		}
	}

	.guest-login-btn {
		background: #fff;
		border-color: transparent;
		border-radius: 3px;
		box-shadow: 1px 1px 5px 0 rgb(0 0 0 / 20%);
		color: rgba(0, 0, 0, 0.54);
		height: 39px;
		margin-bottom: 12px;
		padding-top: 0;
		text-align: center;
		width: 99%;

		div {
			align-items: center;
			display: flex;
			margin-left: 48px;

			img {
				height: 30px;
				width: 24px;
				left: 30px;
				margin: 0 10px 0 0;
			}
		}
	}

	.log-in-error {
		display: none;
		height: 30px;
		width: 200px;
		position: absolute;
		top: -50px;
		left: 80px;
		border: #d344316b 1px solid;
		box-shadow: 0 0 10px rgb(0 0 0 / 10%);
		border-radius: 3px;
		h1 {
			color: #f3351cd0;
			font-size: 16px;
			font-weight: 700;
			letter-spacing: -0.01em;
			margin-bottom: 25px;
			margin-top: 5px;
			text-align: center;
		}

		&.show {
			display: block;
		}
	}
}
