.card-details {
    width: 768px;
    z-index: 10;
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 50px;
    background-color: $clr-card-details-bg;
    gap: 8px;
    font-size: 14px;
    color: $clr-text-group;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3px;
    overflow-y: auto;
    // padding-top: 16px;
    padding-bottom: 24px;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 8px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #888;
    }


    button {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }


    &.close {
        display: none;
    }

    .card-details-header {
        background-color: rgba(9, 30, 66, 0.08);
        height: 100px;
        width: 100%;
    }

    .main-aside-container {
        display: flex;
        gap: 16px;



        .card-details-conatiner {
            padding-inline-start: 16px;
            // background-color: $clr-card-details-bg;
            width: 100%;
            flex: 1;

            .card-details-title-container {
                height: 61px;
                width: 100%;
                // padding: 12px 40px 8px 56px;
                margin-bottom: 16px;
                display: flex;

                height: 61px;
                gap: 8px;
                align-items: center;


                .card-icon {
                    width: 32px;
                    height: 32px;
                    color: $clr-icon;
                }

                .title-in-group {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;

                    .details-group-title {
                        border: none;
                        height: 33px;
                        padding: 4px 0;
                        font-size: em(20px, 14px);
                        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        font-weight: 600;
                        color: $clr-text-group;
                        background-color: $clr-card-details-bg;

                        &:focus {
                            outline: none;
                            box-shadow: inset 0 0 0 2px #0079bf;
                        }
                    }

                    .in-group {

                        color: $clr-small-text;

                        .list-name {
                            text-decoration: underline;
                            cursor: pointer;
                        }

                    }
                }


            }



            .card-details-labels {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding-inline-start: 40px;
                gap: 4px;
                margin-bottom: 16px;

                .labels-title {
                    color: $clr-small-text;
                    font-weight: 600;
                    font-size: rem(12px);
                }

                .card-details-labels-container {
                    display: flex;
                    gap: 4px;
                    align-items: center;

                    >* {
                        @include flex-center;
                        padding: 0 12px;
                        color: white;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: em(32px, 14px);
                        border-radius: 3px;
                    }

                    .add-label-container {
                        padding: 0;
                        position: relative;


                        .card-details-add-label {
                            color: $clr-text-group;
                            background-color: $clr-btn-details;
                            @include flex-center;
                            padding: 0 12px;
                            border-radius: 3px;

                            &:hover {
                                background-color: $clr-btn-hover;
                                cursor: pointer;
                            }

                        }

                    }
                }

                .add-label-modal {
                    width: 304px;
                    background-color: white;
                    z-index: 100000;
                    position: absolute;
                    // left: 0;
                    top: 4px;
                    right: 4px;
                    padding: 0 12px 12px;
                    box-shadow: 0 0px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);


                    // top: calc(100% + 4px);


                    &.hide {
                        display: none;
                    }
                }



            }

            .description {
                display: flex;
                margin-bottom: 24px;
                gap: 8px;
                align-items: center;

                .desc-icon {
                    width: 32px;
                    height: 32px;
                    @include flex-center;
                    color: $clr-icon;

                    // padding-top: 14px;


                }

                .description-content {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    .description-header {
                        display: flex;
                        align-items: center;
                        width: 512px;
                        height: 48px;
                        gap: 8px;
                        padding: 8px 0;

                        .desc-title {
                            font-weight: 600;
                            font-size: 1rem;



                        }

                        // .edit-desc {
                        //     width: 47px;
                        //     height: 32px;
                        //     background-color: $clr-btn-details;
                        //     color: $clr-text-group;

                        //     &:hover {
                        //         background-color: $clr-btn-hover;
                        //     }

                        // }
                    }


                    .edit-prev {
                        width: 512px;
                        height: 56px;
                        padding: 8px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-start;
                        margin-left: 32px;
                        // background-color: $clr-btn-details;


                        &.close {
                            display: none;
                        }
                    }

                    .input-container {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        gap: 4px;

                        &.close {

                            display: none;
                        }

                        .add-desc {
                            padding: 8px 12px;
                            height: 108px;
                            margin-bottom: 4px;
                            border: none;
                            width: 100%;

                            &:focus {
                                box-shadow: inset 0 0 0 2px #0079bf;
                                outline: none;
                            }


                        }

                        .desc-btn {
                            display: flex;
                            gap: 4px;

                            .save-desc {
                                background-color: $clr-btn-color;
                                color: white;
                                padding: 6px 12px;
                                border-radius: 3px;


                            }

                            .cancel-change {
                                padding: 6px 12px;
                                background-color: $clr-card-details-bg ;

                                &:hover {
                                    background-color: $clr-btn-hover;
                                }
                            }
                        }

                    }

                }

            }

            .activity-container {
                display: flex;
                flex-direction: column;
                width: 512px;
                height: 48px;
                gap: 4px;

                .activity-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 8px 0;


                    .title-icon-container {
                        display: flex;
                        gap: 8px;
                        align-items: center;
                        font-size: 14px;
                        color: $clr-icon;


                        .activity-icon {
                            width: 32px;
                            height: 32px;
                            @include flex-center
                        }



                        .activity-title {
                            font-weight: 600;
                            font-size: 1rem;

                        }
                    }


                    .show-details {
                        @include flex-center;
                        font-size: 14px;
                        background-color: $clr-btn-details;
                        color: $clr-text-group;
                        padding: 6px 12px;

                        &:hover {
                            background-color: $clr-btn-hover;
                        }

                    }

                }

                .input-container {
                    display: flex;
                    gap: 8px;

                    .user-logo-details {
                        aspect-ratio: auto 30/30;
                        background-color: #0079bf;
                        border-radius: 25em;
                        height: 32px;
                        width: 32px;
                        @include flex-center;
                        color: white
                    }

                    .comment {
                        width: 508px;
                        height: 36px;
                        padding: 8px 12px;
                        border: none;
                        border-radius: 3px;
                        box-shadow: inset 0px -0.5px 0px 1px #dfe1e6;


                        // border-radius: 3px;
                        &:focus {
                            outline: none;

                        }
                    }
                }
            }


        }

        .details-aside {
            display: flex;
            flex-direction: column;
            gap: 16px;

            .add-to-card {
                padding-top: 77px;
                width: 192px;
                // padding: 0 16px 8px 8px;
                // height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-right: 16px;
                gap: 8px;

                >* {
                    background-color: $clr-btn-details;
                    padding: 6px 12px;
                    // color: $clr-btn-text;
                    color: $clr-text-group;
                    border-radius: 3px;
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    &:hover {
                        background-color: $clr-btn-hover;
                        cursor: pointer;
                    }
                }

                .add-to-card-title {

                    background-color: transparent;
                    font-size: rem(12px);
                    font-weight: 600;
                    color: $clr-small-text;
                    padding: 0;
                    align-self: flex-start;
                }
            }

            .card-details-actions {

                width: 192px;
                // padding: 0 16px 8px 8px;
                // height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-right: 16px;
                gap: 8px;

                >* {
                    background-color: $clr-btn-details;
                    padding: 6px 12px;
                    // color: $clr-btn-text;
                    color: $clr-text-group;
                    border-radius: 3px;
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    &:hover {
                        background-color: $clr-btn-hover;
                        cursor: pointer;
                    }
                }

                .actions-title {

                    background-color: transparent;
                    font-size: rem(12px);
                    font-weight: 600;
                    color: $clr-small-text;
                    padding: 0;
                    align-self: flex-start;
                }
            }
        }



    }

    .close-details-btn {
        position: absolute;
        background-color: transparent;
        border-radius: 50%;
        color: rgb(66, 82, 110);
        width: 40px;
        height: 40px;
        right: 4px;
        top: 4px;

        &:hover {
            background-color: $clr-btn-hover;

        }

        font-size: 15px;

    }



}


.checklist-container {
    .checklist-header {
        display: flex;
        align-items: center;
        width: 512px;
        height: 48px;
        gap: 8px;
        padding: 8px 0;

        .checklist-icon {
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            // padding-top: 14px;
        }

        .checklist-title-button {
            width: 100%;
            justify-content: space-between;


            .checklist-title {
                font-weight: 600;
                font-size: 1rem;
            }

            .checklist-title-delete {}
        }

    }

    .proggres-bar {

        // display:flex;
        .checklist-prog {
            // background-color: green;
            color: #5e6c84;
            font-size: 11px;
            // left: 0;
            line-height: 10px;
            // position: absolute;
            text-align: center;
            // top: -1px;
            width: 38px;
        }
    }

    .checklist-todos-list-container {
        border-radius: 3px;
        clear: both;
        // padding-left: 40px;
        position: relative;
        transform-origin: left bottom;
        transition-duration: .14s;
        transition-property: transform, opacity, height, padding, margin;
        transition-timing-function: ease-in;
        color: #172b4d;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;

        .check-box-per-todo {
            // background-color: aqua;
            height: 36px;
            padding: 6px;

            label {
                display: flex;
                gap: 3px;
                align-items: center;
            }

            .checkbox {
                background-color: #fafbfc;
                border-radius: 2px;
                box-shadow: inset 0 0 0 2px #dfe1e6;
                cursor: pointer;
                flex-shrink: 0;
                height: 16px;
                left: 0;
                margin: 6px;
                overflow: hidden;
                text-align: center;
                top: 5px;
                transition: all .2s ease-in-out;
                white-space: nowrap;
                width: 16px;
            }
        }
    }

    .add-item-checklist {
        padding-left: 37px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .prev-btn-add-item {
            // background-color: $clr-btn-details;
            padding: 6px 12px;
            // color: $clr-btn-text;
            color: $clr-text-group;
            border-radius: 3px;
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 14px;

            &:hover {
                background-color: $clr-btn-hover;
                cursor: pointer;
            }
        }

        .add-item-checklist-modal {
            &.hide {
                visibility: hidden;
                display: none;
            }

            .add-item-checklist-input {
                box-shadow: inset 0 0 0 2px #0079bf;
                color: #172b4d;
                cursor: text;
                float: none;
                height: 37px;
                // resize: vertical;
                width: 100%;
                border-radius: 3px;
                border: none;
                padding: 8px 12px;

                &:focus {
                    outline: none;
                    height: 56px;
                }
            }
        }

        .add-item-checklist-controller {
            display: flex;
            justify-content: space-between;


            button {
                // background-color: $clr-btn-color;
                // color: white;
                color: $clr-text-group;
                padding: 6px 12px;
                border-radius: 3px;
                height: 32px;
                text-align: center;
                align-items: center;
                font-size: 14px;
                line-height: 20px;
                text-align: center;

                &:hover {
                    background-color: $clr-btn-hover;
                }

                &:active {
                    background-color: #e4f0f6;
                    border: none;
                    box-shadow: none;
                    color: #0079bf;
                }

            }

            .checklist-add-btn {
                background-color: #0079bf;
                color: white;
                margin-right: 4px;

                &:hover {
                    background-color: #026aa7;
                    border: none;
                    box-shadow: none;
                }

                &:active {
                    background-color: #055a8c;
                    border: none;
                    box-shadow: none;
                }
            }

            .checklist-controller-btn {
                button {
                    color: $clr-small-text;
                    min-width: 36px;
                    height: 32px;
                    padding: 6px 8px;
                    margin: 0 2px;
                }

                :nth-child(1) {
                    text-decoration: underline;
                }

                :nth-child(2) {
                    text-decoration: underline;
                }
            }
        }
    }
}

.attachment-container {
    .attachment-header {
        display: flex;
        align-items: center;
        width: 512px;
        height: 48px;
        gap: 8px;
        padding: 8px 0;

        .attachment-icon {
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            // padding-top: 14px;
        }

        .attachment-title-button {
            width: 100%;
            justify-content: space-between;


            .attachment-title {
                font-weight: 600;
                font-size: 1rem;
            }

            .attachment-title-delete {}
        }

    }

    .attachment-list-container {
        padding-left: 37px;
        gap:16px;
        position: relative;
        transition-duration: .14s;
        color: #172b4d;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        align-items: center;
        // justify-content: center;
        .attachment-img {
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: contain;
            border-radius: 3px;
            height: 80px;
            width: 112px;
        }

        .attachment-info {
            flex-direction: column;
            .attachment-title {
                padding: 0;
                color: $clr-text-group;
                background-color: transparent;
                border: none;
                outline: none;
                font-size: 14px;
                font-weight: 700;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }

            .attachment-created-at {
                color: $clr-small-text;
            }
        }

    }

    .add-item-attachment {
        padding-left: 40px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .prev-btn-add-item {
            // background-color: $clr-btn-details;
            padding: 6px 12px;
            // color: $clr-btn-text;
            color: $clr-text-group;
            border-radius: 3px;
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 14px;

            &:hover {
                background-color: $clr-btn-hover;
                cursor: pointer;
            }
        }

        .add-item-attachment-modal {
            &.hide {
                visibility: hidden;
                display: none;
            }

            .add-item-attachment-input {
                box-shadow: inset 0 0 0 2px #0079bf;
                color: #172b4d;
                cursor: text;
                float: none;
                height: 37px;
                // resize: vertical;
                width: 100%;
                border-radius: 3px;
                border: none;
                padding: 8px 12px;

                &:focus {
                    outline: none;
                    height: 56px;
                }
            }
        }

        .add-item-attachment-controller {
            display: flex;
            justify-content: space-between;


            button {
                // background-color: $clr-btn-color;
                // color: white;
                color: $clr-text-group;
                padding: 6px 12px;
                border-radius: 3px;
                height: 32px;
                text-align: center;
                align-items: center;
                font-size: 14px;
                line-height: 20px;
                text-align: center;

                &:hover {
                    background-color: $clr-btn-hover;
                }

                &:active {
                    background-color: #e4f0f6;
                    border: none;
                    box-shadow: none;
                    color: #0079bf;
                }

            }

            .attachment-add-btn {
                background-color: #0079bf;
                color: white;
                margin-right: 4px;

                &:hover {
                    background-color: #026aa7;
                    border: none;
                    box-shadow: none;
                }

                &:active {
                    background-color: #055a8c;
                    border: none;
                    box-shadow: none;
                }
            }

            .attachment-controller-btn {
                button {
                    color: $clr-small-text;
                    min-width: 36px;
                    height: 32px;
                    padding: 6px 8px;
                    margin: 0 2px;
                }

                :nth-child(1) {
                    text-decoration: underline;
                }

                :nth-child(2) {
                    text-decoration: underline;
                }
            }
        }
    }
}