.card-details {
    width: 768px;
    height: 1104px;
    z-index: 10;
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 50px;
    background-color: $clr-card-details-bg;
    gap: 8px;
    font-size: 14px;
    color: $clr-text-group;

    button {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }


    &.close {
        display: none;
    }

    .card-details-header {
        background-color: rgba(9, 30, 66, 0.08);
        height: 130px;
        width: 100%;
    }

    .main-aside-container {
        display: flex;
        gap: 16px;



        .card-details-conatiner {
            padding-inline-start: 8px;
            // background-color: $clr-card-details-bg;
            width: 100%;
            flex:1;

            .card-details-title-container {
                height: 61px;
                width: 100%;
                // padding: 12px 40px 8px 56px;
                margin-bottom: 16px;
                display: flex;
           
                height: 61px;
                gap: 8px;
                align-items: center;


                .card-icon {
                    width: 32px;
                    height: 32px;
                }

                .title-in-group {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;

                    .details-group-title {
                        border: none;
                        height: 33px;
                        padding: 4px 0;
                        font-size: em(20px, 14px);
                        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        font-weight: 600;
                        color: $clr-text-group;
                        background-color: $clr-card-details-bg;

                        &:focus {
                            outline: none;
                            box-shadow: inset 0 0 0 2px #0079bf;
                        }
                    }

                    .in-group {
                       
                        color: $clr-small-text;

                        .list-name {
                            text-decoration: underline;
                            cursor: pointer;
                        }

                    }
                }


            }

        

            .card-details-labels {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding-inline-start: 40px;
                gap: 4px;
                margin-bottom: 16px;

                .labels-title {
                    color:$clr-small-text;
                    font-weight: 600;
                    font-size: rem(12px);
                }

                .card-details-labels-container {
                    display: flex;
                    gap: 4px;
                    align-items: center;

                    >* {
                        @include flex-center;
                        padding: 0 12px;
                        color: white;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: em(32px, 14px);
                        border-radius: 3px;
                    }

                    .add-label-container{
                        padding: 0;
                        position: relative;

                
                        .card-details-add-label {
                            color: $clr-text-group;
                            background-color: $clr-btn-details;
                            @include flex-center;
                            padding: 0 12px;
                            border-radius: 3px;
                            &:hover{
                                background-color: $clr-btn-hover;
                                cursor: pointer;
                            }
    
                        }

                        .add-label-modal{
                            width:304px;
                            background-color: white;
                            z-index: 100000;
                            position: absolute;
                            left: 0;
                            top: calc(100% + 4px);


                            &.hide{
                                display: none;
                            }
                        }

                     
                    }
                }
            }

            .description {
                display: flex;
                margin-bottom: 24px;
                gap:8px;

                .desc-icon {
                    width: 32px;
                    height: 32px;
                    padding-top: 14px;

                }

                .description-content {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    .description-header {
                        display: flex;
                        align-items: center;
                        width: 512px;
                        height: 48px;
                        gap: 8px;
                        padding: 8px 0;

                        .desc-title {
                            font-weight: 600;
                            font-size: 1rem;

                        }

                        .edit-desc {
                            width: 47px;
                            height: 32px;
                            background-color: $clr-btn-details;
                            color:$clr-text-group;

                            &:hover {
                                background-color: $clr-btn-hover;
                            }

                        }
                    }


                    .edit-prev {
                        width: 512px;
                        height: 20px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;



                        &.close {
                            display: none;
                        }
                    }

                    .input-container {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        gap: 4px;

                        &.close {

                            display: none;
                        }

                        .add-desc {
                            padding: 8px 12px;
                            height: 108px;
                            margin-bottom: 4px;
                            border: none;

                            &:focus {
                                box-shadow: inset 0 0 0 2px #0079bf;
                                outline: none;
                            }


                        }

                        .desc-btn {
                            display: flex;
                            gap: 4px;

                            .save-desc {
                                background-color: $clr-btn-color;
                                color: white;
                                padding: 6px 12px;
                                border-radius: 3px;


                            }

                            .cancel-change {
                                padding: 6px 12px;
                                background-color: $clr-card-details-bg ;

                                &:hover {
                                    background-color: $clr-btn-hover;
                                }
                            }
                        }

                    }

                }

            }

            .activity-container {
                display: flex;
                flex-direction: column;
                width: 512px;
                height: 48px;
                gap: 4px;

                .activity-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 8px 0;


                    .title-icon-container {
                        display: flex;
                        gap: 8px;
                        align-items: center;
                        font-size: 14px;

                        .activity-icon {
                            width: 32px;
                            height: 32px;
                            @include flex-center
                        }

                     

                        .activity-title {
                            font-weight: 600;
                            font-size: 1rem;
                
                        }
                    }



                    .show-details {
                        @include flex-center;
                        font-size: 14px;
                        background-color: $clr-btn-details;
                        color:$clr-text-group;
                        padding: 6px 12px;

                    }

                }

                .input-container {
                    display: flex;
                    gap: 8px;

                    .user-logo-details {
                        aspect-ratio: auto 30/30;
                        background-color: #0079bf;
                        border-radius: 25em;
                        height: 32px;
                        width: 32px;
                        @include flex-center;
                        color: white
                    }

                    .comment {
                        width: 508px;
                        height: 36px;
                        padding: 8px 12px;
                        border: none;
                        border-radius: 3px;
                        box-shadow: inset 0px -0.5px 0px 1px #dfe1e6;


                        // border-radius: 3px;
                        &:focus {
                            outline: none;

                        }
                    }
                }
            }


        }

        .details-aside{
            display: flex;
            flex-direction: column;
            gap:16px;

            .add-to-card {
                padding-top: 77px;
                width: 192px;
                // padding: 0 16px 8px 8px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-right: 16px;
                gap: 8px;
    
                >* {
                    background-color: $clr-btn-details;
                    padding: 6px 12px;
                    // color: $clr-btn-text;
                    color: $clr-text-group;
                    border-radius: 3px;
                    display: flex;
                    align-items: center;
                    gap:8px;
                    
                    &:hover{
                        background-color: $clr-btn-hover;
                        cursor: pointer;
                    }
                }
    
                .add-to-card-title{
                    
                    background-color: transparent;
                    font-size: rem(12px);
                    font-weight: 600;
                    color: $clr-small-text;
                    padding: 0;
                    align-self: flex-start;
                }
            }

            .card-details-actions{
          
                width: 192px;
                // padding: 0 16px 8px 8px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-right: 16px;
                gap: 8px;
    
                >* {
                    background-color: $clr-btn-details;
                    padding: 6px 12px;
                    // color: $clr-btn-text;
                    color: $clr-text-group;
                    border-radius: 3px;
                    display: flex;
                    align-items: center;
                    gap:8px;
                    
                    &:hover{
                        background-color: $clr-btn-hover;
                        cursor: pointer;
                    }
                }
                .actions-title{
                    
                    background-color: transparent;
                    font-size: rem(12px);
                    font-weight: 600;
                    color: $clr-small-text;
                    padding: 0;
                    align-self: flex-start;
                }
            }
        }



    }



}