.task {
    background-color: white;
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 3px;
    color: $clr-text-group;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 1px 0 #091e4240;
    overflow-y: auto;
    overflow: visible;

    &:hover {
        background-color: rgba(255, 255, 255, 0.611);

        .pen-container {
            display: flex;
            opacity: 1;

            &:hover {
                background-color: rgba(237, 237, 237, 0.611);

            }

        }


    }



    .pen-container {
        width: 28px;
        height: 28px;
        position: absolute;
        top: 2px;
        right: 2px;
        z-index: 2;
        opacity: 0;
        align-items: center;
        justify-content: center;

        .pen-img {
            width: 40%;
            height: 40%;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.626);
            opacity: 1;

        }

        &.noLabel:hover {
            background-color: rgba(237, 237, 237, 0.611);
            opacity: 1;
        }

    }

    .edit-task-modal {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 0;
        left: 101%;
        gap: 4px;
        z-index: 5;

        &.none{
            display: none;
        }


        >* {
            background-color: rgba(0, 0, 0, 0.772);
            color: white;
            display: flex;
            align-items: center;
            gap:6px;
            width: fit-content;
            height: 32px;
            border-radius: 3px;
            padding: 6px 12px 6px 8px;
            transition: .2s;
            &:hover{
                margin-inline-start: 5px;
            }

            .icon{
                width: 20px;
                height: 20px;
                font-size: 14px;
                @include flex-center;
                &.task-icon{
                    font-size: 12px;
                }
            
            }


        }

        .change-cover{
            position: relative;
        }
        
        .edit-change-members{
            width: 162px;
        }

        .hide {
            display: none;
        }
    }

    .task-details-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 4px;
        padding: 6px 8px;
        font-size: 12px;
        color: #5e6c84;

        .icon-preview {
            gap:6px;
            margin-top: 4px;
            display: flex;
            align-items: center;

            .checklists-prev {
                margin: 0;
                color: #5e6c84;

              
                .fontawsome {
                    height: 20px;
                    width: 20px;
                    font-size: 12px;
                    padding-right: 5px;
                }
            }

            .due-date {
                gap: 3px;
                @include flex-center;
                padding: 2px;
                
                input{
                
                    margin:0;
                    height: 12px;
                }


            }


            .description-prev {
                margin: 0;
                color: #5e6c84;

                .fontawsome {
                    height: 24px;
                    width: 24px;
                    font-size: 12px;
                }
            }

            .attachment-prev {
                margin: 0;
                color: #5e6c84;

                .fontawsome {
                    height: 24px;
                    width: 24px;
                    font-size: 12px;
                }
            }
        }


    }

    .task-bg {
        padding: 0;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }

    &>* {}


    .labels-container {
        display: flex;
        gap: 4px;

        .label-container {
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 8px;
            margin-bottom:1px ;

            .label-title {
                padding-bottom: 2px;
                color: white;
                font-weight: 700;
                font-size: 12px;

                &.hide {
                    display: none;

                }
            }
        }
    }


    .members-icon-container{
        display: flex;
        gap:5px;
        position: absolute;
        right:8px;
        bottom: 8px;

        .member-container{

        }
    }

}