.template-preview {
	height: 180px;
	width: 250px;
	border-radius: 20px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.star {
		background: transparent;
		height: fit-content;
		align-self: flex-end;
	}

	h1 {
		align-self: flex-start;
		padding-left:1rem ;		
	}
	

}