

.colors-modal {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 12px 6px 0px 12px;
    gap: 8px;

    // .colors-wrapper {
    //     margin: auto;
    //     display: flex;
    //     gap: 10px;

        .color-container {
            height: 96px;
            width: 152.5px;
            border-radius: 6px;
            // margin-bottom: 8px;
            cursor: pointer;
        }
}