$clr1:rgb(9, 30, 66);
$clr-btn:rgba(9, 30, 66, 0.04);
$clr2:#0065ff;
$clr3:#ebecf0;
$clr-text-group:rgb(23, 43, 77);
$clr-text-add-card:rgb(107, 119, 140);
$clr-card-details-bg:#f4f5f7;
$clr-btn-color:#0079bf;
// $clr-btn-details:rgb(226,228,233);
$clr-btn-details:rgb(235, 236, 240);
// $clr-btn-details-hover:rgb(216, 218, 222);
$clr-btn-text:rgb(0, 0, 238);
$clr-small-text:rgb(94, 108, 132);
$clr-btn-hover:rgba(10, 31, 66, 0.078);

