$clr1:rgb(9, 30, 66);
$clr-btn:rgba(9, 30, 66, 0.04);
$clr2:rgb(0, 101, 255);
$clr3:#ebecf0;
$clr-text-group:#172b4d;
$clr-text-add-card:#6b778c;
$clr-card-details-bg:#f4f5f7;
$clr-btn-color:#0079bf;
// $clr-btn-details:rgb(226,228,233);
$clr-btn-details:rgb(235, 236, 240);
// $clr-btn-details-hover:rgb(216, 218, 222);
$clr-btn-text:rgb(0, 0, 238);
$clr-small-text:#5e6c84;
$clr-btn-hover:rgba(10, 31, 66, 0.078);

// $clr-label-green:#61bd4f;
// $clr-label-yellow:#f2d600;
// $clr-label-orange:#ff9f1a;
// $clr-label-red:#eb5a46;
// $clr-label-purple:#c377e0;
// $clr-label-blue:#0079bf;
// $clr-label-light-blue:#00c2e0;
// $clr-label-light-green:#51e898;
// $clr-label-pink:#ff78cb;
// $clr-dark-blue:#344563;


