$clr1:#091e42;
$clr4:#5e6c84;
$clr5:#172b4d;

$clr-btn:rgba(9, 30, 66, 0.04);
$clr2:rgb(0, 101, 255);
$clr3:rgb(235, 236, 240);
$clr-text-group:rgb(23, 43, 77);
$clr-text-add-task:rgb(107, 119, 140);
$clr-task-details-bg:rgb(244, 245, 247);
$clr-btn-color:#0079bf;
$clr-btn-details:rgb(235, 236, 240);
$clr-btn-text:rgb(0, 0, 238);
$clr-small-text:rgb(94, 108, 132);
$clr-btn-hover:rgba(10, 31, 66, 0.078);
$clr-icon:rgb(66, 82, 110);



